
  * {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 1px red;
  }

  @font-face {
    font-family: MiFont;
    src: url(./mi.woff);
    font-weight: 400
  }

  [mifont] {
    font-family: MiFont;
  }


  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
  }

  header {
    margin: auto;
    background-color: rgb(65, 62, 62);
    width: 1260px;
    height: 40px;
  }

  header a {

    font-size: 10px;
    text-decoration: none;
    color: white;
    position: relative;
    top: 8px;
    margin-left: 10px;
  }

  header span {
    position: relative;
    top: 8px;
    left: 8px;
    color: rgb(85, 82, 85);
  }

  .a1 {
    margin-left: 150px;
  }

  .shopcar span {
    color: rgb(151, 151, 151);
    float: left;
    margin-left: 10px;
    margin-top: -10px;
    font-size: 1.6em;

  }

  .shopcar {
    color: rgb(151, 151, 151);
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    float: right;
    position: relative;
    width: 120px;
    height: 40px;
    background-color: rgb(75, 75, 75);
  }

  .logo1 {

    margin-left: 20px;
    margin-top: 8px;
    float: left;
    width: 56px;
    height: 56px;
  }

  .headle {
    position: relative;
    width: 100%;
    height: 80px;
  }

  .head {
    margin-top: 20px;
    display: flow-root;
    margin-left: auto;
    margin-right: auto;
    width: 1260px;
    height: 80px;
  }

  .manu1 {
    padding-left: 0px;
    margin-left: 250px;
    height: 65px;
    width: 500px;

  }

  .manu2 {
    list-style-type: none;
    float: left;
    height: 65px;
    width: 60px;
  }

  .manu1 li {
    height: 65px;
    margin-top: 0px;
    list-style: none;
    float: left;
    padding-top: 10px;
    padding-left: 20px;
  }

  .manu1 li:hover {
    color: orange;
  }

  #l1 {
    margin-left: 100px;
  }

  .uphone {

    float: left;
    width: 1280px;
    height: 100px;
    margin-top: 35px;
    /* position: absolute; */
    display: none;

  }

  .lh1:hover {
    display: block;
  }

  .uphone li {
    line-height: 30px;
    text-align: center;
    list-style: none;
    float: left;
    margin-left: 40px;
    width: 160px;
    height: 350px;
  }

  .uphone li img {

    width: 160px;

  }

  .main {

    width: 1240px;
    height: 440px;
    background-color: #9196a1;
    margin: auto;
  }

  .manuleft {
    color: white;
    margin-left: -40px;
    padding-top: 20px;
    margin-top: 0px;
    float: left;
  }

  .manuleft li {

    list-style: none;
    width: 234px;
    height: 40px;
    background-color: #9196a1;
    line-height: 40px;
    vertical-align: middle;
    position: relative;

  }

  .manuleft li .table1 {
    color: black;
  }

  .manuleft li:hover {
    background-color: orange;
  }



  .manuleft li b {
    position: absolute;

    left: 180px;

  }

  .slider {

    overflow: hidden;
    width: 1006px;
    height: 440px;
    background-color: aqua;
    float: left;
  }


  .dleft {
    z-index: 2;
    top: 180px;
    width: 40px;
    height: 80px;
    background-image: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
    background-repeat: no-repeat;
    position: absolute;

  }

  .dright {
    z-index: 2;
    top: 180px;
    left: 967px;
    width: 40px;
    height: 80px;
    background-image: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
    background-repeat: no-repeat;
    background-position-x: -45px;
    position: absolute;

  }

  .slide {
    display: none;

  }

  .slides {
    position: absolute;
  }

  .slide img {

    position: absolute;
    height: 440px;
    width: 1006px;
    padding-left: -200px;
  }



  input {
    display: none;

  }

  input:nth-child(1):checked~.slides .slide:nth-child(1),
  input:nth-child(2):checked~.slides .slide:nth-child(2),
  input:nth-child(3):checked~.slides .slide:nth-child(3),
  input:nth-child(4):checked~.slides .slide:nth-child(4) {
    display: block;

  }

  .mid {
    background-color: white;
    margin: auto;
    width: 1240px;
    height: 200px;
  }

  .um1 {

    float: left;
    margin-left: -40px;
    width: 234px;
    height: 165px;
  }

  .um1 li {
    background-color: #5f5750;
    font-size: 14px;
    text-align: center;
    width: 76px;
    height: 83px;
    border: rgb(173, 173, 173) solid 1px;
    float: left;
    list-style: none;
    box-sizing: border-box;

  }

  .um1 li a {
    text-decoration: none;
    color: rgb(173, 173, 173);
    line-height: 25px;
    display: block;
  }

  .um1 li a:hover {
    color: white;

  }

  .um1 li a img {
    filter: brightness(75%);
    vertical-align: middle;
    margin-top: 15px;
    object-fit: scale-down;
    width: 24px;
  }

  .um1 li a:hover img {

    filter: brightness(100%);
  }

  .um1 li a span {

    top: 20px
  }

  .mid2 {
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 19px;
    margin-top: 16px;
    object-fit: contain;
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d8a6d6d37904e22c72130e3e4ec79b41.jpg?w=632&h=340);
    float: left;
    width: 316px;
    height: 170px;
  }

  .mid3 {
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 19px;
    margin-top: 16px;
    object-fit: contain;
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/fce474f4024b96545959ccd45b7e50f3.jpg?w=632&h=340);
    float: left;
    width: 316px;
    height: 170px;
  }

  .mid4 {
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 19px;
    margin-top: 16px;
    object-fit: contain;
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/35b3f906861db9d6472206e6d68318d9.jpeg?w=632&h=340);
    float: left;
    width: 316px;
    height: 170px;
  }

  .advertise1 {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 1240px;
    height: 120px;
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/f334fbd05d5681bb838fefd1c815d88c.jpg?thumb=1&w=1839&h=180&f=webp&q=90);
  }



  .advertise {
    float: left;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1240px;
    width: 100%;
    height: 6410px;
    background-color: #f5f5f5;
  }

  .box1 {
    margin-top: 20px;
    height: 614px;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    gap: 14px;
    align-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }

  .firstb {

    width: 234px;
    height: 614px;

  }

  .box1 section {
    text-align: center;
    width: 234px;
    height: 300px;

  }

  .firstb img {
    width: 234px;
    height: 614px;
  }

  .box1 section img {

    margin-top: 15px;
    width: 180px;
    height: 180px;
  }

  .f1 {
    font-size: 20px;
    margin-top: 30px;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }

  h4 {

    font-weight: 400;

  }

  section p {

    margin-top: -20px;
    font-size: 14px;
    opacity: 0.4;
  }

  section span {
    font-size: 15px;
    color: red;
  }

  .hidbox1 {
    background-color: white;
    display: flex;
    justify-content: center;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 3;
    height: 0px;
    overflow: hidden;

    /* min-width: 1240px; */


  }


  .u2 {
    padding-right: 0;
    padding-left: 0;
    margin-left: 500px;
    position: absolute;
    width: 120px;
    height: 65px;
    top: 16px;

  }

  .hidul img {
    width: 160px;
    height: 110px;

  }

  .hiul {
    min-width: 1260px;
    width: 1260px;

  }

  .hidul li {
    margin-left: 20px;
    list-style: none;
    float: left;
    text-align: center;
    width: 180px;
    height: 180px;
  }

  .hidbox1 .hidul li:nth-child(1) {
    margin-left: auto;
  }

  .manu1:hover .hidbox1 {
    transition: .2s;
    height: 200px;

  }

  .u2:hover .hidul {
    display: none;

  }

  .manu1 li:hover .hidbox1 {
    z-index: 100;
  }




  .head .ul2 {
    padding-left: 0px;
    float: left;
    list-style: none;
    margin-top: -72px;
    height: 65px;
    width: 100px;
    margin-left: 750px;
  }

  .ul2 li {
    margin-left: -50;
    text-align: center;
    float: left;
    width: 50px;
    height: 65px;
  }

  table {
    display: none;
    z-index: 10;
    margin-left: 233px;
    position: absolute;
    width: 1007px;
    height: 440px;
  }

  .manuleft li:hover .ml table {
    display: block;

  }

  .manuleft1 {
    margin-top: -60px;
  }

  .manuleft2 {
    margin-top: -100px;
  }

  .manuleft3 {
    margin-top: -140px;
  }

  .manuleft4 {
    margin-top: -180px;
  }

  .manuleft5 {
    margin-top: -220px;
  }

  .manuleft6 {
    margin-top: -260px;
  }

  .manuleft7 {
    margin-top: -300px;
  }

  .manuleft8 {
    margin-top: -340px;
  }

  .manuleft9 {
    margin-top: -380px;
  }

  .manuleft10 {
    margin-top: -420px;
  }

  table {
    display: none;
    background-color: white;
  }

  .table1 td {

    vertical-align: middle;
    padding-left: 20px;
    width: 250px;
    height: 69.5px;

  }

  .table1 span {
    padding-left: 15px;
  }

  table td img {
    height: 40px;
    vertical-align: middle;
  }


  .f1 a {
    color: black;
    font-size: 16px;
    text-decoration: none;
  }



  .r1 {
    border-color: royalblue;
    color: white;
    border-radius: 20px;
    width: 20px;
    height: 20px;
  }

  .f1 a:hover {
    color: orange;
  }

  .f1 a:hover span {

    color: orange;
  }

  .f1 a:hover .r1 {

    border-color: orange;
  }

  .znbox {
    position: relative;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
  }

  .znbox .zn {
    width: 200px;
    margin-left: 0;
    position: relative;
  }

  .hot {
    margin-left: 1000px;
  }

  .one:hover {
    z-index: 5;

  }

  .two:hover {
    z-index: 5;
  }

  .nul {
    margin-top: 30px;
    margin-left: 1110px;
    width: 130px;
    height: 0;
    list-style: none;
    padding-left: 0px;
    text-align: center;
  }

  .nul li {
    margin-right:0 ;
    margin-left: 30px;
    width: 35px;
    height: 30px;
    float: left;
  }

  .nli1 {
    margin-top: 20px;

  }
  .watch{
    color: black;
  }

  .watch,
  .wear {
    top: 80px;
    left: 0;
    width: 1240px;
    position: absolute;
    height: 614px;
  }

  .watch li,
  .wear li {
    background-color: white;
    list-style: none;
  }

  .watch li:nth-child(1),
  .wear li:nth-child(1) {
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -40px;
    width: 234px;
    height: 614px;
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/9895c56a7b792fb9053e3085fc261072.jpg?thumb=1&w=351&h=921&f=webp&q=90);
  }

  .watch li:nth-child(n+2):nth-child(-n+5),
  .wear li:nth-child(n+2):nth-child(-n+5) {
    margin-left: 17px;
    width: 234px;
    height: 300px;
  }

  .watch li:nth-child(n+6):nth-child(-n+8),
  .wear li:nth-child(n+6):nth-child(-n+7) {
    margin-top: 15px;
    margin-left: 17px;
    width: 234px;
    height: 300px;
  }

  .watch li:nth-child(9),
  .wear li:nth-child(8) {
    margin-top: 15px;
    margin-left: 17px;
    width: 234px;
    height: 150px;
  }

  .watch li:nth-child(-n+8) img,
  .wear li:nth-child(-n+7) img {
    margin-top: 20px;
    width: 180px;
    height: 180px;
  }

  .watch li:nth-child(-n+8) p,
  .wear li:nth-child(-n+7) p {
    font-size: 14px;
    opacity: 0.4;
    margin-top: -20px;
  }

  .watch li:nth-child(-n+8) span,
  .wear li:nth-child(-n+7) span {
    color: red;
  }

  .more {
    font-size: 50px;
  }

  .browse {
    margin-top: 50px;
  }

  .browse p {
    line-height: 5px;

  }
  .sp1{
    transition:9999s;
    color: orange;
    border-bottom: orange solid 3px;
  }
  .sp2{
    transition: 9999s;
  }

  .nul li:nth-child(1):hover sp,
  .nul li:nth-child(2):hover sp{
    color: orange;
    border-bottom: orange solid 3px;

  }
  .nul li:nth-child(2):hover ~li sp{

    color: black;
  }

 .nul .wear {
    transition: 0s 9999s;
    visibility: hidden;
  }
  .nul .watch{
   visibility: visible;
   transition: 0s 9999s;

  }
.nul:hover .wear,
  .nul:hover .watch{
    visibility: hidden;
    transition: none;
  }
  .nul li:nth-child(1):hover .watch{
    visibility: visible;
  }
  .nul li:nth-child(2):hover .wear{
    visibility: visible;
    transition: none;

  }

  .nul:hover li sp{
    color: black;
    border: none;
    transition: none;
  }

  .ved{

    background-color: blue;
    width: 1240px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .ved p{
    font-size: 25px;
  }
  .remen li,.ib{
    box-shadow:none;
    transition: 0.2s linear;
  }
  .remen li:hover{
    box-shadow: 1px 1px 10px  #9c9c9c,-1px 0px 10px #b3b3b3;
    transform:translate(0,-2px);
    transition: 0.2s linear;
  }
  .box1 section:hover,
  .ib:hover{
    box-shadow: 1px 1px 10px  #9c9c9c,-1px 0px 10px #b3b3b3;
    transform:translate(0,-2px);
    transition: 0.2s linear;
  }
  .box1 section{
    box-shadow:none;
    transition: 0.2s linear;
  }
  .mid2:hover,.mid3:hover,.mid4:hover{
    box-shadow: 1px 1px 20px  #e0e0e0,-1px 0px 20px #e0e0e0 ;
    transition: 0.2s linear;
  }
  .mid2,.mid3,.mid4{
    box-shadow: none;
    transition: 0.2s linear;
  }
